<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOuJvPl7JwT6loXpyqkQb1aMyRDuDHYHw</string>
	<key>GCM_SENDER_ID</key>
	<string>225888613724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techforgood.letslunch</string>
	<key>PROJECT_ID</key>
	<string>let-s-lunch</string>
	<key>STORAGE_BUCKET</key>
	<string>let-s-lunch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225888613724:ios:83cffcaa5b75d4ab4b7d99</string>
	<key>DATABASE_URL</key>
	<string>https://let-s-lunch-default-rtdb.firebaseio.com</string>
</dict>
</plist>